.acoustic-rating-content {
    padding: 2rem;
}

.acoustic-rating-header {
    display: flex;
    justify-content: space-between;
}

.acoustic-rating-actions {
    text-align: right;
    margin: 2rem 0;
}

.icon {
    color: #EAEAEA;
}

.icon.extra-large {
    width: 7rem;
    height: 7rem;
}

.icon.success {
    width: 7rem;
    height: 7rem;
}